<header>

  <div class="menu">
    x
    <ul class="link">
      <li>
        <a href="" id="">link</a>
      </li>
      <li>
        <a href="" id="">link</a>
      </li>
      <li>
        <a href="" id="">link</a>
      </li>
    </ul>
  </div>


  <div class="logo">
    Logo
  </div>
</header>