<main class="cart-main">
	<div class="cart-index">
		<% @products.each do |product| %>
			<div class="cart-index-product">
				<div class="title-product">
					<%= link_to product.name, product %>
				</div>
				<div class="body-prod">
					<div class="body-prod-image">
						
					</div>
					<div class="body-prod-desc">
						<%= product.description %>
					</div>
				</div>
				<div class="price-and-button">
					<div class="price">
						$ <%= product.price %>
					</div>
					<div class="button">
						AGREGAR
					</div>
					
				</div>
			</div>
		<% end %>
	</div>
	<div class="cart-cart">
		
	</div>
</main>