body {
  display:flex;
  height: 100%;
  width: 100%;
  margin: 0px;
  flex-direction:column;
}

header {
  display: flex;
  background-color: #FF4500;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #fff;
  font-size: 150%;
}

header .menu {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu .link {
  display: none;
}

header .menu:hover .link, header .menu .link.active {
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: white;
}

header .logo {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}

main {
  background-color: yellow;
  height: 100%;
  width: 100%;
  
}

footer {
  display: flex;
  align-self: flex-end;
  background-color: green;
  height: 50px;
  width: 100%;
  align-items:center;
  justify-content:center;
  font-size:50px;
}


.products-carousel {
  background-color: #fff;
  width: 100%;
  height: 200px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-carousel .product{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-size: 40%;
  height: 180px;
  width: 50%;
  align-items: center;
  visibility:hidden;
}

.products-carousel .active{
  display: flex;
  background-color: #4169E1;
  align-self: center;
  justify-content: center;
  width: 80%;
  margin-right: 5%;
  margin-left: 5%;
  position:absolute;
  visibility:visible;
}

.products-body{
  display: flex;
  background-color: #fff;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products-body .product-b{
  display: flex;
  flex-direction:column;
  height: 150px;
  width: 200px;
  margin: 1%;
  align-items: center;
  justify-content: center;
  background-color: #87CEFA;
  align-items:auto;
}

//CARRITO welcome/cart////////////////////////////////////////////////////////////////////////////////////////

.cart-main{
  display:flex;
  height:100%;
  width:100%;
  background-color: #fff;
  flex-direction:row;
}

.cart-index{
  height:100%;
  width:50%;
  background-color: red;
}

.cart-cart{
  height:100;
  width:50%;
  background-color:blue;
}

.cart-index-product{
  display:flex;
  height:150px;
  width: 90%;
  margin:5%;
  background-color: #fff;
  flex-direction: column;
}

.title-product{
  display: flex;
  align-items: center;
  justify-content:center;
  width:100%;
  height:20%;
  background-color: #FFFF00;
}


.body-prod{
  display:flex;
  flex-direction:row;
  width:100%;
  height:60%;
  background-color:orange;
}

.body-prod-image{
  display:flex;
  height:100%;
  width:30%;
  background-color: tomato;
}

.body-prod-desc{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100%;
  width:70%;
  background-color: blue;
}

.price-and-button{
  display:flex;
  height:20%;
  width:100%;
  background-color:green;
}

.price{
  display:flex;
  height:100%;
  width:70%;
  align-items:center;
  justify-content:center;
  background-color: #fff;
}

.button{
  display:flex;
  height:100%;
  width:30%;
  align-items:center;
  justify-content:center;
  background-color:#2EFEF7;
}






@media (max-width: 700px) {
  .products-carousel {
    visibility: hidden;
    height: 0;
    margin: 0%;
  }

  .products-carousel .active{
    position: relative;
    visibility: hidden;
    width: 100%;
    height: 0%;
    margin: 0;
    background-color: tomato;
  }

  footer {
    height: 0%;
    width: 0%;
  }

  .products-body{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    //align-self:center;
    width: 100%;
    //height:100%;  
  }

  .products-body .product-b{
    height: 200px;
    width: 96%;
    margin: 2%; 
  }

  @media (max-width: 400px){
    .products-body{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      width: 100%;
      height:100%;
      align-self:center;
    }

    .products-body .product-b{
      height: 100px;
      width: 96%;
      margin: 2%; 
    }
  }
}