<main>
    <div class="products-carousel">
      <div class="js-anterior"> < </div>
        <% @products.each do |prod| %>
          <div class="product">
            <p> <%= prod.name%> </p>
            <p> <%= prod.category.name%> </p>
          </div>
        <% end %>
      <div class="js-siguiente"> > </div>
    </div>

    
    <div class="products-body">
      <% @products.each do |product|%>
        <div class="product-b">
          <p> nombre: <%= product.name %></p>
          <p><%= product.category.name %></p>
        </div>
      <% end %>
    </div>

  </main>

  <script>
    $('.js-siguiente').on('click', function() {
      var productos = $('.product')
      var len = productos.length
      var siTiene = 0
      productos.each( function(index){
        console.log(index) 
        if ($(this).hasClass('active')) {
          siTiene = index
          $(this).removeClass('active')
        }
      })
      $(productos[(siTiene+1)%len]).addClass('active')
    })
  </script>

  <script>
    $('.js-anterior').on('click', function() {
      var productos = $('.product')
      var len = productos.length
      var siTiene = 0
      productos.each( function(index){
        console.log(index) 
        if ($(this).hasClass('active')) {
          siTiene = index
          $(this).removeClass('active')
        }
      })
      $(productos[(siTiene+1)%len]).addClass('active')
    })
  </script>

</body>
